.label{
    width: 100%;
    padding: 1rem;
}


.textP{
    padding: 0.7rem 0.9rem;
    border: 1px solid rgba(112, 112, 112, 0.407);
    border-radius: 1rem;
    color: rgb(112, 112, 112);
}

.userId{
    padding-bottom: 0.5rem;
    color: rgb(112, 112, 112);
}

.left p {
    text-align: left;
}
.left span{
    float: left;
}

.right p{
    text-align: right;
}
.right span{
    float: right;
}

.right .labelInfo{
    float: right;
}
.right{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.green .textP{
    background-color: #86B049;
    color: #fff;
    border: none;
}

.labelPhoto{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.3rem;
}

.labelInfo{
    align-items: center;
    margin-bottom: 0.3rem;
}

.messageLabel{
    padding: 1rem 0;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
